##### essentials
set -g mouse on
set -g history-limit 100000
set -g default-terminal "tmux-256color"
set -g mode-keys vi
set -g set-clipboard on
set -g allow-passthrough on

# Make modified keys like Shift+Enter pass through when supported
set -g extended-keys always

# Keep clipboard support and add extkeys support
set -as terminal-features ",*:clipboard"
set -as terminal-features ",xterm*:extkeys"

set -g wrap-search on
setw -g wrap off

# Vi copy mode tweaks
bind -T copy-mode-vi $ send -X end-of-line
bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi y send -X copy-selection-and-cancel
